@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #03536c;
}

.app-header {
  text-align: center;
  margin: 3rem 0;
  font-size: 5rem;
  font-family: "Bigelow Rules", cursive;
  color: #95dada;
}
